#wcloadmore {	margin:0; padding:0; font-size:12px; font-weight:normal; text-transform: none;} 
#wcloadmore a { border-bottom:0;text-decoration:none}
#wcloadmore .ik-pst-clm-title-head{ color:#fff; font-weight:bold; margin-bottom:2px; font-size: 15px; padding:8px 13px;} 
#wcloadmore .wp-load-icon { display:none; margin-left:10px; width:10px; height:10px; background-color:#fff; } 
#wcloadmore .item-pst-list{ background: none; padding:0; margin:0px 0px 2px 0px; color:#424242; border: 1px solid #ebebeb;	  }
#wcloadmore .item-posts { background: #F7F7F7; border: 1px solid rgb(236, 236, 236); padding: 10px; }  
#wcloadmore .ik-prouct-search-text { width:60px; padding:3px;}
#wcloadmore .pst-item{ cursor:pointer; background: #F1F1F1; padding:0px 25px 0px 13px;font-weight:normal; font-size: 12px;  border-left:1px solid #696969;  }
#wcloadmore .pst-item{  	position: relative;	-webkit-transition: all 0.4s;overflow: hidden;transition: all 0.4s; -moz-transition: all 0.4s;}  
#wcloadmore .ik-post-item { float:left;padding:5px 0 0 0; margin:0 0.5%}
#wcloadmore .ik-post-item p { margin:0; padding:0}
#wcloadmore .ik-post-load-more{ cursor:pointer; color:#333; text-align:center; padding:10px 5px 5px; text-align:center; 	font-size: 12px;font-weight:bold; clear:both; padding-bottom: 10px;	position: relative;	-webkit-transition: all 0.8s;overflow: hidden;transition: all 0.8s; 	-moz-transition: all 0.8s; }
#wcloadmore .ik-post-load-more:before {	content:url("../images/ac_bottom.png");	height: 100%; -webkit-transition: all 0.8s;-moz-transition: all 0.8s; position: absolute; top:55%; left: 49%; 	transition: all 0.8s; }
#wcloadmore .ik-post-load-more:hover:before {top: 1%;} 
#wcloadmore .ik-post-load-more:hover { color:#0e83cd !important; }
#wcloadmore  .ik-post-content .ik-post-name { margin-top:5px; font-size: 12px; word-wrap:break-word}
#wcloadmore  .ik-post-content .ik-post-name a { text-decoration:none; border:0; word-wrap:break-word;font-weight: normal;}
#wcloadmore  .ik-post-content .ik-post-name a:hover{ transition: all 0.5s ease-out 0.7s; color:#ccc;font-weight: normal; } 
#wcloadmore  .ik-post-image img { width:100%} 
#wcloadmore  .ik-post-no-items { padding:10px 10px 10px 4px; font-size:13px }
#wcloadmore .pst-item{ clear:both; position:relative}
#wcloadmore  .pst-item-text {   float:left; min-height:18px;margin: 8px 0;}
#wcloadmore  .ld-pst-item-text  { width:22px; height:22px; right:1%;  position:absolute; top:9px }
#wcloadmore  .ik-load-content-cnt { width:20px; height:20px; -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);	-moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);   margin-top:0px; padding:1px; display:block;  background-color:#f7f7f7; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;    }
#wcloadmore  .ik-load-content { width:20px; height:20px; }
#wcloadmore  .ik-load-content-more { padding:10px;  transition: all 0.4s ease 0s; }
#wcloadmore  .ik-load-content-more:hover { color:#fff !important; }
#wcloadmore  .clr, #wcloadmore  .clrb { clear:both}
#wcloadmore  .ik-post-image { position :relative; }
#wcloadmore div.ov-layer  .ik-overlay-post-content  { margin-top:0px;color:#000;background:#fff; padding:5px; border-bottom:1px solid #fff;border-top:1px solid #fff; }
#wcloadmore div.ov-layer  .ik-overlay-post-content .ik-post-name {line-height:16px;text-decoration:none;}
#wcloadmore div.ov-layer  .ik-overlay-post-content .ik-post-name a {  border:0; text-decoration:none; position:relative }  
#wcloadmore div.ov-layer {display:block; visibility:hidden;position:relative; top:40px; left:0;-webkit-transition: -webkit-transform 1s;   position: absolute; -o-transition-duration: 1s; 	width:  100%; -moz-transition-duration: 1s;  -webkit-transition: -webkit-transform 1s; z-index: 10; cursor: pointer; height: 100%;  background:url(../images/view.png) right bottom no-repeat #000; opacity: 0; color:#fff; font-size:13px;} 
#wcloadmore div.ov-layer:hover {box-shadow: 0px 0px 3px #000;-moz-transition-duration: 1s; -webkit-transition: -webkit-transform 1s; -o-transition-duration: 1s; -webkit-box-shadow: 0px 0px 3px #333; -moz-box-shadow: 0px 0px 3px #333; opacity: .6;}  
#wcloadmore button { margin:0px; padding:0px; float:none;}
#wcloadmore .btn-crt, #wcloadmore #btnSearch { padding:0px; margin:0px; border:0px; background: #EBEBEB !important; color: #464646; padding:3px 8px; font-size:11px; width:100% }
#wcloadmore .btn-crt { margin:5px 0; font-style:normal; cursor:pointer;font-weight: normal;position: relative;	-webkit-transition: all 0.8s;overflow: hidden;transition: all 0.8s; -moz-transition: all 0.8s; -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 3px #DBDBDB;  } 
#wcloadmore .btn-crt:hover{ color:#0e83cd !important; }
#wcloadmore .btn-crt:before { height: 100%; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; position: absolute;	top:20%; left: 125%; transition: all 0.8s; }
#wcloadmore .bt-cart:before {	content:url("../images/cart.png"); }	
#wcloadmore .post_wc_view:before {	content:url("../images/view-more.png"); }	
#wcloadmore .btn-crt:hover:before { left: 88%; }
#wcloadmore .item-posts{ padding:0 10px 0px 10px; background-color:#fff}
#wcloadmore  .pn-active, #wcloadmore  .pn-active-bg{ background-color:#FEFEFE !important;     } 
#wcloadmore input.ik-post-search-text:focus, 
#wcloadmore select.ik-drp-post-category:focus { background-color:#FFF; } 
#wcloadmore .ik-post-content .ik-post-date,
#wcloadmore .ik-post-content .ik-post-comment,
#wcloadmore div.ov-layer  .ik-overlay-post-content .ik-post-date,
#wcloadmore div.ov-layer  .ik-overlay-post-content .ik-post-comment { color:#333; font-weight: normal; text-decoration:none; border:0; font-size: 11px; word-wrap:break-word; min-height:20px; }

#wcloadmore.pane_style_1  .pst-item{ border-left:0 !important; }
 
 /* Pane Style 2 Start */ 
#wcloadmore.pane_style_2 .item-pst-list, #wcloadmore.pane_style_2 .ik-pst-clm-title-head{ border:0!important;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px; 	 }
#wcloadmore.pane_style_2 .pst-item{-webkit-border-radius:8px !important; border:1px solid #ececec !important;	-moz-border-radius:8px !important;-webkit-border-radius:8px !important;	border-radius:8px !important;  }  
#wcloadmore.pane_style_2 .item-posts{-webkit-border-radius:8px !important; border:1px solid #ececec !important;	-moz-border-radius:8px !important;-webkit-border-radius:8px !important;	border-radius:8px !important;  }  
/* Pane Style 2 End */    

/* Pane Style 3 Start */  
#wcloadmore.pane_style_3 .ik-post-content .ik-post-name { height: auto !important; margin-bottom: 5px; }
#wcloadmore.pane_style_3 .ik-post-item { width: 100% !important; float: none !important; border-bottom: 1px solid #f5f5f5;}
#wcloadmore.pane_style_3 .ik-post-image { display: none; }
#wcloadmore.pane_style_3 .ik-post-content .ik-post-name a:hover { font-weight:bold !important;}
#wcloadmore.pane_style_3  .add_to_cart_button  { display: none; }
/* Pane Style 3 End */   

#wcloadmore .disp_title_over_img .ik-post-item { min-height:auto !important }
#wcloadmore .lt-clm .item-pst-list { width:auto; float:left;	margin-right:2px;}
#wcloadmore .lt-clm .item-pst-list .ik-load-content{ margin-left:5px;}

/* RTL Support Start */
#wcloadmore.apcp-rtl-enabled {text-align:right;} 
#wcloadmore.apcp-rtl-enabled .ik-pst-clm-title-head  {text-align:right;}
#wcloadmore.apcp-rtl-enabled .pst-item-text {float:right; background-position: right center; padding-left:0; padding-right:22px;}
#wcloadmore.apcp-rtl-enabled  .pst-item { padding-right:13px;}
#wcloadmore.apcp-rtl-enabled .ik-post-search-text {text-align:right;} 
#wcloadmore.apcp-rtl-enabled .ld-pst-item-text { right: 15px; }
/* RTL Support END */ 

/* Pane Style 4 Start */
#wcloadmore.pane_style_4 .ik-post-item {  float: left !important; border-bottom: 1px solid #f5f5f5; padding-bottom: 6px;}
#wcloadmore.pane_style_4 .ik-post-image { float: left; width: 101px;}
#wcloadmore.pane_style_4 .ik-post-content { float: right; margin: 0px 10px; margin-right: 0px; width: 194px; } 
#wcloadmore.pane_style_4 .pst-item-text {   float:left; min-height:18px; background-image: url("../images/ac2_open.png"); background-position: left center;
background-repeat: no-repeat; padding-left:22px}
#wcloadmore.pane_style_4 .pn-active .pst-item-text { background-image: url("../images/ac2_close.png"); }
#wcloadmore.apcp-rtl-enabled.pane_style_4 .ik-post-image { float: right;}
/* Pane Style 4 End */
  

/* cart button */
#wcloadmore .add_to_cart_button { padding:0px; text-align:center; margin:0px; border:0px; background: #EBEBEB !important; color: #464646; padding:6px 0px; font-size:11px; width:100% }
#wcloadmore .add_to_cart_button { margin:5px 0; font-style:normal; cursor:pointer;font-weight: normal;position: relative;	-webkit-transition: all 0.8s;overflow: hidden;transition: all 0.8s; -moz-transition: all 0.8s; -webkit-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 1px #fff inset, 1px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 3px #DBDBDB;  } 
#wcloadmore .add_to_cart_button:hover{ color:#0e83cd !important; }
#wcloadmore .add_to_cart_button:before { height: 100%; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; position: absolute;	top:20%; left: 125%; transition: all 0.8s; }
#wcloadmore .add_to_cart_button:before {	content:url("../images/cart.png"); }	 
#wcloadmore .add_to_cart_button:hover:before { left: 88%; }
#wcloadmore  .ik-post-content .add_to_cart_inline .added_to_cart { display:none !important  }
#wcloadmore .woocommerce,
#wcloadmore .post, 
#wcloadmore .add_to_cart_inline { margin:0 !important; padding:0 !important;border:0 !important}
/* cart button end */ 

@media only screen and (max-width: 1280px) { #wcloadmore .ik-post-item { width: 20%; } }
@media only screen and (max-width: 1024px) { #wcloadmore .ik-post-item { width: 25%; } }
@media only screen and (max-width: 768px) { #wcloadmore .ik-pst-clm-title-head  { font-size:12px} }
@media only screen and (max-width: 640px) {	#wcloadmore .ik-post-item { width: 33%; } }
@media only screen and (max-width: 480px) {	#wcloadmore .ik-post-item { width: 50%; } } 